<h1>Checks#index:ホーム</h1>

<%= link_to "ログイン", new_user_session_path %>
<%= link_to "新規登録", new_user_registration_path %>
<br>
<%= link_to "checks/new : 初回質問ページ", new_check_path %>
<br>
<p>ログインしているユーザのみ表示</p>
<br>
<%= link_to "reviews/proposal : レビューページ", reproposal_path(1) %>
